@page "/"
@using BlazorState.Test.Web.Components.Shared
@rendermode @( new InteractiveServerRenderMode(prerender: false))

<PageTitle>Home</PageTitle>

<h1>EJEMPLO DE MANEJO DE ESTADO EN BLAZOR</h1>

<h1>Usuario: @(CustomerState.FirstName + " " + CustomerState.LastName)</h1>

<h2>Formulario 1</h2>
<CustomerForm/>

<h2>Formulario 2</h2>
<CustomerForm />

<h2>Formulario 3</h2>
<CustomerForm />